body {
	/* grey */
	color: #ced4da;
	color: #868e96;

	/* shades of black for text */
	color: #343a40;

	/* shadow */
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);

	/* shades of green for border */
	color: #087f5b;
}

.item {
	display: grid;
	grid-template-columns: auto 1fr auto;
	column-gap: 24px;
	row-gap: 32px;
	align-items: center;
}

.content-box {
	grid-column: 2 / -1;
}

/* 
<div className="item" key={i}>
    <p className="number">
        {`${i}`.length === 1 && i < 9 ? `0${i + 1}` : i + 1}
    </p>

    <p className="title">{faq.title}</p>

    <p className="icon">+</p>

    <p className="content-box">{faq.text}</p>
</div>

*/

/* eat-n-split */
.eat-n-split {
	--color-lightest: #fff4e6;
	--color-light: #ffe8cc;

	--color-medium: #ffa94d;
	--color-dark: #ff922b;

	color: #495057;
	color: #343a40;

	color: #66a80f;

	color: #e03131;
}


body {
	height: 100vh;
    
	display: flex;
	align-items: center;
	justify-content: center;
}